@layout BHWLayout
@page "/bhw/profiling-form"
@inject Context context
@inject NavigationManager NavManager


<div class="container" style="margin-top: 90px;">
    <form>
        <div class="row">
            <div class="col">
                <h1 class="text-center"><strong>Resident Form</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3"><label class="form-label">First Name</label><input @bind="firstName" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col-xl-4"><label class="form-label">Middle Name</label><input @bind="middleName" class=" form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col-xl-3"><label class="form-label">Last Name</label><input @bind="lastName" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col"><label class="form-label">Suffix</label><input @bind="suffix" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Date of Birth</label>
                <input @bind="dob" class="form-control" type="text" placeholder="mm/dd/yyyy" required="">
            </div>
        </div>
        
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Age</label><input @bind="age" class="form-control" type="text" placeholder="age" required=""></div>
        </div>

        @if (age >= 60)
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-xl-12 offset-xl-0">
                    <label class="form-label">Senior Citizen ID No.</label>
                    <input @bind="id_no" class="form-control" type="number" placeholder="0000" required="">
                </div>
            </div>
        }
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Gender</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="maleRadio" name="gender" value="Male" @onchange="@(() => gender = "Male")">
                    <label class="form-check-label" for="maleRadio">Male</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="femaleRadio" name="gender" value="Female" @onchange="@(() => gender = "Female")">
                    <label class="form-check-label" for="femaleRadio">Female</label>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Father's Name</label><input @bind="fathers_name" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Mother's Name</label><input @bind="mothers_name" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Head of Family</label><input @bind="head" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Total Number of Family</label><input @bind="num_of_fam" class="form-control" type="text" placeholder="Ex. College" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Purok</label>
                <Select TValue="string" @bind-Value="@purok" Placeholder="Select Purok...." Class="form-control" @onchange="ChangePurok">
                    <SelectItem Value="String.Empty">Select Purok Where the Resident Currently Resides</SelectItem>
                    @foreach (string pur in purokList)
                    {
                        <SelectItem Value="@pur">@pur</SelectItem>
                    }
                </Select>
            </div>

            
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">PWD?</label>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" id="pwdYes" checked="@(isPWD == true)" @onchange="@(() => isPWD = true)">
                        <label class="form-check-label" for="pwdYes">Yes</label>
                    </div>

                    <div class="form-check">
                    <input class="form-check-input" type="radio" id="pwdNo" checked="@(isPWD == false)" @onchange="@(() => isPWD = false)">
                        <label class="form-check-label" for="pwdNo">No</label>
                    </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Prenatal?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="prenateYes" name="prenate" checked="@(isPrenate == true)" @onchange="@(() => isPrenate = true)">
                    <label class="form-check-label" for="prenateYes">Yes</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="prenateNo" name="prenate" checked="@(isPrenate == false)" @onchange="@(() => isPrenate = false)">
                    <label class="form-check-label" for="prenateNo">No</label>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Illness Type</label>
                <Select TValue="int" @bind-Value="@illnessID" Placeholder="Select illness..." Class="form-control" @onchange="HandleChange">
                    <SelectItem Value="0">None</SelectItem>
                    @foreach (var illness in Illnesses)
                        {
                            <SelectItem Value="@illness.ID">@illness.IllnessName</SelectItem>
                        }
                   </Select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Immunization</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="immunization1" @onchange="@(() => HandleImmunizationCheckbox("1st Dose"))">
                    <label class="form-check-label" for="immunization1">1st Dose</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="immunization2" @onchange="@(() => HandleImmunizationCheckbox("2nd Dose"))">
                    <label class="form-check-label" for="immunization2">2nd Dose</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="immunization3" @onchange="@(() => HandleImmunizationCheckbox("3rd Dose"))">
                    <label class="form-check-label" for="immunization3">3rd Dose</label>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Weight</label><input @bind="weight" class="form-control" type="text" placeholder="Ex. 100kg" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Height</label><input @bind="height" class="form-control" type="text" placeholder="Ex. 5'8" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Temperature</label><input @bind="temperature" class="form-control" type="text" placeholder="Ex. 36 degrees" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Blood Pressure</label><input @bind="bloodPressure" class="form-control" type="text" placeholder="Ex. 1A" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Medicine</label><input @bind="medicine" class="form-control" type="text" placeholder="Ex. Medicine Name" required=""></div>
        </div>
    </form>
    <button class="btn btn-success" type="button" style="margin-top: 20px;margin-bottom: 40px;margin-right: 22px;" @onclick="AddResident">ADD</button><button class="btn btn-danger" type="button" style="margin-top: 20px;margin-bottom: 40px;">Cancel</button>
</div>

@code {
    String firstName = "";
    String middleName = "";
    String lastName = "";
    String suffix = "";
    String dob = "";
    int age = 0;
    String gender = "";
    String fathers_name = "";
    String mothers_name = "";
    String head = "";
    int num_of_fam = 0;
    String purok = "";
    bool isPWD = false;
    bool isSenior = false;
    bool isPrenate = false;
    List<String> Immunization = new List<String>();
    String weight = "";
    String height = "";
    int illnessID { get; set; }
    String temperature = "";
    String bloodPressure = "";
    String medicine = "";
    int id_no = 0;


    string[] purokList = { "1A", "1B", "2", "3", "4", "5", "6", "7", "8", "9", "10" };

    public List<IllnessModel> Illnesses = new List<IllnessModel>();

    void HandleChange(ChangeEventArgs args)
    {
        var selectedValue = Convert.ToInt32(args.Value);
        illnessID = selectedValue;
        Console.WriteLine($"Selected illness ID: {illnessID}");
    }

    void ChangePurok(ChangeEventArgs args)
    {
        var selectedValue = Convert.ToString(args.Value);
        purok = (selectedValue != null) ? selectedValue : "";
        Console.WriteLine($"Selected Purok: {purok}");
    }

    protected override void OnInitialized()
    {
        Illnesses = context.GetIllnesses();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Illnesses = context.GetIllnesses();
        }
    }


    public void AddResident()
    {
        ResidentModel newResident = new ResidentModel
            {
                FirstName = firstName,
                MiddleName = middleName,
                LastName = lastName,
                Suffix = suffix,
                Age = age,
                Dob = dob,
                Gender = gender,
                Purok = purok,
                IsPWD = isPWD,
                IsSenior = isSenior,
                isPrenate = isPrenate,
                IDNo = id_no
            };

        ResidentHealthStatusModel newRHS = new ResidentHealthStatusModel();
        HouseholdModel newHousehold = new HouseholdModel();

        var resID = context.CreateResident(newResident);

        newRHS.ResidentId = resID;
        newRHS.TypeofillnessID = illnessID;
        newRHS.Weight = weight;
        newRHS.Height = height;
        newRHS.Temperature = temperature;


        newHousehold.FathersName = fathers_name;
        newHousehold.MothersName = mothers_name;
        newHousehold.Member = firstName + " " + middleName + " " + lastName;
        newHousehold.MemberID = resID;
        newHousehold.FamilyCount = num_of_fam;
        newHousehold.HeadofFamily = head;

        context.CreateHousehold(newHousehold);
        context.CreateResidentHealthStatus(newRHS);

        context.IncrementIllness(illnessID);

        firstName = "";
        middleName = "";
        lastName = "";
        suffix = "";
        dob = "";
        age = 0;
        gender = "";
        fathers_name = "";
        mothers_name = "";
        head = "";
        num_of_fam = 0;
        purok = "";
        isPWD = false;
        isSenior = false;
        isPrenate = false;
        Immunization.Clear();
        weight = "";
        height = "";
        illnessID = 0;
        temperature = "";
        bloodPressure = "";
        medicine = "";

        NavManager.NavigateTo("/bhw/");
    }

    private void HandleImmunizationCheckbox(string dose)
    {
        if (Immunization.Contains(dose))
        {
            Immunization.Remove(dose);
        }
        else
        {
            Immunization.Add(dose);
        }
    }
}