@layout BHWLayout
@page "/bhw/purok-health"
@using Baranggay_Health_Records.Shared
@inject Context context

<div class="container" style="margin-top: 86px;">
    <div class="row">
        <div class="col">
            <h1>Purok 1A Health Dashboard</h1>
        </div>
    </div>
    <div class="row" style="margin-bottom: 26px;">
        <div class="col">
            <PurokHealthCard Name="Flu" Count="@FluCount"/>
        </div>
        <div class="col">
            <PurokHealthCard Name="Malnourished" Count="@MalnourishedCount" />
        </div>
        <div class="col">
            <PurokHealthCard Name="Measles" Count="@MeaslesCount" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 26px;">
        <div class="col">
            <PurokHealthCard Name="Tuberculosis" Count="@TuberculosisCount" />
        </div>
        <div class="col">
            <PurokHealthCard Name="Prenatal" Count="@PrenatalCount" />
        </div>
        <div class="col">
            <PurokHealthCard Name="Deworming" Count="@DewormingCount" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 26px;">
        <div class="col">
            <PurokHealthCard Name="Households" Count="@HouseholdCount" />
        </div>
        <div class="col">
            <PurokHealthCard Name="Senior Citizen" Count="@SeniorCitizenCount" />
        </div>
    </div>
</div>

@code {
    public int FluCount { get; set; } = 0;
    public int MalnourishedCount { get; set; } = 0;
    public int MeaslesCount { get; set; } = 0;
    public int TuberculosisCount { get; set; } = 0;
    public int PrenatalCount { get; set; } = 0;
    public int DewormingCount { get; set; } = 0;
    public int HouseholdCount { get; set; } = 0;
    public int SeniorCitizenCount { get; set; } = 0;

    protected override void OnInitialized()
    {
        FluCount = context.GetFluCount();
        MalnourishedCount = context.GetMalnourishedCount();
        MeaslesCount = context.GetMeaslesCount();
        TuberculosisCount = context.GetTuberculosisCount();
        PrenatalCount = context.GetPrenatalCount();
        DewormingCount = context.GetDewormingCount();
        HouseholdCount = context.GetHouseholdCount();
        SeniorCitizenCount = context.GetSeniorCitizenCount();
    }
}