@page "/secretary/profiling-form"
@using Baranggay_Health_Records.Controller
@layout SecretaryLayout
@inject Context context
@inject NavigationManager NavManager


<div class="container" style="margin-top: 32px;">
    <form>
        <div class="row">
            <div class="col">
                <h1 class="text-center"><strong>Resident Form</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3"><label class="form-label">First Name</label><input @bind="firstName" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col-xl-4"><label class="form-label">Middle Name</label><input @bind="middleName" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col-xl-3"><label class="form-label">Last Name</label><input @bind="lastName" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col"><label class="form-label">Suffix</label><input @bind="suffix" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Date of Birth</label><input @bind="dob" class="form-control" type="text" placeholder="mm/dd/yyyy" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Age</label><input @bind="age" class="form-control" type="number" placeholder="age" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Age</label>
                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1" name="gender" @onchange="@(() => gender = "Male")"><label class="form-check-label" for="formCheck-1">Male</label></div>
                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2" name="gender" @onchange="@(() => gender = "Female")"><label class="form-check-label" for="formCheck-2">Female</label></div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Civil Status</label><input @bind="civil_status" class="form-control" type="text" placeholder="Ex. Single" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Religion</label><input @bind="religion" class="form-control" type="text" placeholder="Ex. Catholic or Islam" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Occupation</label><input @bind="occupation" class="form-control" type="text" placeholder="Ex. Private Employee" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Father's Name</label><input @bind="fathers_name" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Mother's Name</label><input @bind="mothers_name" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Head of Family</label><input @bind="head" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Educational Attainment</label><input @bind="ed_attain" class="form-control" type="text" placeholder="Ex. College" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Purok</label>
                <Select TValue="string" @bind-Value="@purok" Placeholder="Select Purok...." Class="form-control" @onchange="ChangePurok">
                    <SelectItem Value="String.Empty">Select Purok Where the Resident Currently Resides</SelectItem>
                    @foreach (string pur in purokList)
                    {
                        <SelectItem Value="@pur">@pur</SelectItem>
                    }
                </Select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Status Type</label><input @bind="status_type" class="form-control" type="text" placeholder="Ex. New Born" required=""></div>
        </div>
        @* <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Civil Status</label><input @bind="civi" class="form-control" type="text" placeholder="Ex. Single"></div>
        </div> *@
    </form><button @onclick="AddResident" class="btn btn-success" type="button" style="margin-top: 20px;margin-bottom: 40px;margin-right: 22px;">ADD</button><a class="btn btn-danger" href="/secretary/" style="margin-top: 20px;margin-bottom: 40px;">Cancel</a>
</div>

@code {
    string[] purokList = { "1A", "1B", "2", "3", "4", "5", "6", "7", "8", "9", "10" };
    string firstName = "";
    string middleName = "";
    string lastName = "";
    string suffix = "";
    string dob = "";
    int age = 0;
    string gender = "";
    string civil_status = "";
    string religion = "";
    string occupation = "";
    string fathers_name = "";
    string mothers_name = "";
    string head = "";
    int num_of_fam = 0;
    string ed_attain = "";
    int household_number = 0;
    string purok = "";
    string status_type = "";

    void ChangePurok(ChangeEventArgs args)
    {
        var selectedValue = Convert.ToString(args.Value);
        purok = (selectedValue != null) ? selectedValue : "";
        Console.WriteLine($"Selected Purok: {purok}");
    }


    void AddResident()
    {
        ResidentModel res = new ResidentModel();
        HouseholdModel household = new HouseholdModel();

        res.FirstName = firstName;
        res.MiddleName = middleName;
        res.LastName = lastName;
        res.Suffix = suffix;
        res.Dob = dob;
        res.Age = age;
        res.Gender = gender;
        res.Civil_status = civil_status;
        res.Religion = religion;
        res.Occupation = occupation;
        res.Ed_attain = ed_attain;
        res.Household_number = household_number;
        res.Purok = purok;




        if(
            firstName != "" ||
            middleName != "" ||
            lastName != "" ||
            suffix != "" ||
            dob != "" ||
            age != 0 ||
            gender != "" ||
            civil_status != "" ||
            religion != "" ||
            occupation != "" ||
            fathers_name != "" ||
            mothers_name != "" ||
            head != "" ||
            num_of_fam != 0 ||
            ed_attain != "" ||
            household_number != 0 ||
            purok != "" ||
            status_type != ""
        )
        {
            int id = context.CreateResident(res);
            household.HeadofFamily = head;
            household.MemberID = id;
            household.FathersName = fathers_name;
            household.MothersName = mothers_name;
            household.Member = firstName + middleName + lastName;
            household.FamilyCount = num_of_fam;
            context.CreateHousehold(household);

        }

        firstName = "";
        middleName = "";
        lastName = "";
        suffix = "";
        age = 0;
        gender = "";
        civil_status = "";
        religion = "";
        occupation = "";
        fathers_name = "";
        mothers_name = "";
        head = "";
        num_of_fam = 0;
        ed_attain = "";
        household_number = 0;
        purok = "";
        status_type = "";
        head = "";
        fathers_name = "";
        mothers_name = "";
        num_of_fam = 0;

        Console.WriteLine(context.GetAllResidents());
        Console.WriteLine("Item Added to Residents!");

    }
}