<tr>
    <td class="text-truncate" style="max-width: 200px;">@ID</td>
    <td class="text-truncate" style="max-width: 200px;">@MedicineName</td>
    <td>@MedicineDescription</td>
    <td class="text-truncate" style="max-width: 200px;">@Quality</td>
    <td class="text-truncate" style="max-width: 200px;">@Stock</td>
    <td>@ExpirationDate</td>
    <td>@ReleaseDate</td>
</tr>

@code {

    [Parameter]
    public int? ID { get; set; }

    [Parameter]
    public String? MedicineName { get; set; }

    [Parameter]
    public String? MedicineDescription { get; set; }

    [Parameter]
    public int? Quality { get; set; }

    [Parameter]
    public int? Stock { get; set; }

    [Parameter]
    public String? ExpirationDate { get; set; }

    [Parameter]
    public String? ReleaseDate { get; set; }
}